* {
	box-sizing: border-box;
}

body {
	font-family: "proxima-nova";
	-webkit-font-smoothing: antialiased;
}

/* Delete div below when done*/
div {
	border: 1px solid Chocolate;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "lust";
	font-weight: 400;
}