/* - 3 colors -
 #414148 Grey for background of Projects
 #FFFFFF White for Text on Grey Background
 #72D677 Green as background for Projects Panel
*/


* {
	box-sizing: border-box;
}

body {
	font-family: "raleway",sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* Delete div below when done*/
div {
	border: 1px solid Chocolate;
}

h1, h3 {
	font-family: "ff-enzo-web", sans-serif;
	font-weight: bold;
	font-size: 5.5em;
}

/* --- Overview Section --- */

.overview,
.selected-projects,
.footer {
	padding:0;
}

.overview-content,
.projects-content,
.footer-content {
	/*display: inline-block;*/
	width: 60em;
	max-width: 100%;
	margin: 0 auto;
}

.overview {
	padding-bottom: 0.5em;
	margin: 0 auto;
}

.overview-content {
	margin: 2em auto;
	padding: 0.5em 0.5em 12em 0.5em;
}

.overview-content > .logo {
	display: inline-block;
	border: 1px solid #72D677;
	border-radius: 100%;
	background: #72D677;
	color: #FFF;
	font-size: 3.1em;
	height: 75px;
	width: 75px;
	text-align: center;
	line-height: 75px;
	margin-top: 1.1em;
}

.overview-content > .personal-info {
	color: #414148;
	text-align: right;
	margin-left: 0;
  padding: 0 0.5em 0 1.6em;
	float: right;
}

.name {
	font-size: 5em;
	text-align: right;
}

.personal-info > .description {
	font-size: 1.8em;
} 

/* Icons */

.icons {
	padding: 0;
	margin: 0 1.1em 0 0;
}

.icons > li {
 display: inline;
 font-size: 2em;
 padding-left: 1.4em;
}

a {
	color: inherit;
}

.icons > .twitter {
	color: #00ACED;
}

.icons > .github {
	color: #323131;
}

.icons > .mail {
	color: #F9D773
}

/* --- Selected Projects --- */

.selected-projects {
	background: #414148;
	margin:0;
}

.projects-content {
	padding-top: 2em;
}

.projects-content > .projects-header {
	color: #FFF;
	text-align: center;
	margin: 0.5em auto;
}

hr {
	width: 50%;
}

.projects-panel {
	margin: 2em auto;
	background: #FFF;
	padding: 2em 2em;
	border-radius: 0.3em;
}

.container-1,
.container-2,
.container-3 {
	width: 520px;
	height: 300px;
	border-radius: 0.7em;
	display: inline-block;
	margin-bottom: 1em;
}

.container-1 img,
.container-2 img,
.container-3 img {
	width: 100%;
	height: auto;
	border-radius: 0.7em;
}

.text-1,
.text-2,
.text-3 {
	width: 300px;
	display: inline-block;
	margin-left: 0;
	margin-bottom: 1em;
	padding: 0 0.5em 0 0.5em;
}

/* --- How can I do these better? -- */
.text-1,
.container-2,
.text-3 {
	margin-left: 4.1em;
}


/* --- Footer --- */

.footer {
	background: #72D677;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}


